robotframework==4.1
robotframework-pabot
robotframework-databaselibrary
robotframework-allurereport
robotframework-jsonlibrary
robotframework-selenium2library
robotframework-excellib
robotframework-requests
databricks-dbapi
databricks-connect==7.3.*
databricks-cli
pyautogui
sasl
thrift-sasl
pyhive
pandas
pyyaml
openpyxl
requests
lxml
pyodbc
sqlalchemy==1.4.20
tabulate
