robotframework-excellib==2.0.0
robotframework==3.1.2
openpyxl==3.0.0
et-xmlfile==1.0.1
jdcal==1.4.1

robotframework-jsonlibrary==0.3.1
cx-Oracle==7.3.0
robotframework-datadriver==0.3.6
pandas==0.25.3
numpy==1.17.4
xlrd==1.2.0
